@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Antic+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

h2, h1 {
    margin-left: 20px;
}

h6 {
    margin-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Antic Slab", sans-serif;
    color: black;
}

p, span, a {
    font-family: "PT Sans", sans-serif;
}

/* header */
.wrapper {
    position: relative;
}

/* info bar */

#info-bar {
    background-color: rgb(77, 165, 88);
    width: 100%;
    height: 45px;
    border-style: none;
    font-size: 11px;
    color: white;
}

.info-row {
    max-width: 1100px;
    margin: 0 auto;
}

#infobar, .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#infobar, a {
    color: white
}

/* info bar left side */

#info-bar, .info-bar-left {
    float: left;
    margin-right: 0;
    margin-left: 10px;
}

.info-contact {
    line-height: 45px;
}

.info-bar-spacer {
    display: inline-block;
    padding: 0 6px;
}

/* info bar right side */

#info-bar, .info-bar-right {
    float: right;
    margin-left: 0;
}

.info-bar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 45px;
}

.info-bar-nav > ul > li {
    float: left;
    border-left: 1px solid white;
}

.info-bar-nav > ul > li a {
    padding: 0 13px;
}

.info-bar-nav > ul > li:first-child {
    border-left: none;
}

#no-dots {
    list-style: none;
}

.payment-button {
    padding: 0.35em 0.55em;
    line-height: 1;
    margin-left: 0.75em;
    font-size: 0.7em;
    border: 0.1em solid transparent
}

/* menu*/

.logo {
    margin-bottom: 0px;
    width: 250px;
    height: 250px;
}

#nav {
    width: 100%;
    height: 345px;
    border-bottom: 1px solid rgba(139, 139, 139, 0.267);
    color: black;
}

.nav-row {
    max-width: 1100px;
    margin: 0 auto;
}

#menu a {
    color: black;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 0px;
    padding-left: 105px;
    position: relative;
}

#menu a:hover {
    border-top: 3px solid hsl(130, 100%, 50%);
    padding-top: 20px;
    transition-duration: 0.2s;
}

.active {
    border-top: 3px solid hsl(130, 100%, 50%);
    padding-top: 20px;
}

ul#menu li:hover > ul
{
    visibility:visible;
    opacity:1;
}

ul#menu ul, ul#menu ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:150px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#menu ul {
    top: 25px;
    left: 75px;
}
 
ul#menu ul li ul {
    top: 0;
    left: 150px;
}
 
ul#menu ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#menu ul li a {
    background:none;
    padding:7px 15px 7px 5px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:right;
    clear:both;
    width:150px;
}

/* section bar */
#section-bar {
    width: 100%;
    background: url(../images/sectionbar.png) no-repeat center;
    height: 72px;
    padding-top: 10px;
    color: #282A2B;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
}

#section-bar, .page-title {
    float: left;
    margin-left: 0;
}

#section-bar, .breadcrumbs {
    float: right;
    margin-left: 0;
    padding-top: 12px
}

/* sections */
.section-row > img {
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.section-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 1000px;
}

.column-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

#section {
    width: 100%;
    border-style: none;
    font-size: 18px;
    color: #858282;
    padding-top: 40px;
}

.section-row {
    max-width: 1100px;
    margin: 5px auto;
}

#section, .left-side {
    float: left;
    margin: 0;
}

#section, .right-side {
    float: right;
}

#section p,h3 {
    margin: 25px 0;
    width: 100%;
    padding: 0 20px;
}

#section ul{
    padding-left: 50px;
}

#section a {
    color: hsl(128, 76%, 20%);
}

#section p a {
    color: hsl(128, 76%, 20%);
}

#section a:hover {
    color: hsl(128, 56%, 43%);
    transition-duration: 0.5s;
}

#section p a:hover {
    color: hsl(128, 56%, 43%);
    transition-duration: 0.5s;
}

/* forms */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 10px;
}

.column-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.column-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
 
input[type=text], [type=email], select {
    width: 48%;
    height: 45px;
    padding: 12px;
    margin: 10px 0 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    width: 97.5%;
    height: 90px;
    padding: 12px;
    margin: 10px 0 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* input[type=email] {
    width: 48%;
    height: 45px;
    padding: 12px;
    margin: 10px 0 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
} */

.form:hover {
    border-color: rgb(77, 165, 88);
}

.submit-button {
    margin: 20px 0;
    border-radius: 1px;
    padding: 15px 20px 15px 10px;
    margin: 10px 30px 10px 10px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(77, 165, 88);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: rgb(80, 196, 95);
    color: #fafafa;
}

.contact-position {
    padding-top: 140px;
    padding-bottom: 50px;
}

/* placeholder changes */
input{
    text-indent: 10px;
    font-size: 18px;
  }

.required:after {
    content:" *";
    color: red;
}

/* google maps embed */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    min-width: 300px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* footer */
#footer {
    background-color: #363839;
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 11px;
    color: white;
    font-family: Antic-Slab, sans-serif;
    display: flex;
}

#footer a {
    color: #B5B5B5;
}

#footer-menu > li {
    border-bottom: 1px solid #858282;
}

#footer a:hover {
    color: hsl(128, 56%, 43%);
    transition-duration: 0.5s;
}

.footer-row {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 100px;
}

.footer-column {
    width: 30%;
    float: left;
    margin: 0 auto;
}

#footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 45px;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 50px;
}

.fa-chevron-right {
    font-size: 13px;
}

#footer-menu a:hover {
    color: hsl(128, 56%, 43%);
    transition-duration: 1s;
}

.footer-column > span {
    font-size: 13px; 
    color: rgb(221,221,221);
    margin-bottom: 40px;
}

#footer-jmn {
    margin-left: -195px; 
    font-size: 18px; 
    color: #747373;
}

.footer-column p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 30px;
    color: #858282;
}

/* copyright footer */
#copyright {
    background-color: #282A2B;
    width: 100%;
    height: 45px;
    border-style: none;
    font-size: 11px;
    color: white;
    border-top: 1px solid #4B4C4D;
}

.copyright-row {
    max-width: 1100px;
    margin: 0 auto;
}

.copyright-row > span {
    line-height: 40px;
}

/* responsive */
@media screen and (max-width: 604px) {
    .map-responsive {
        margin-left: 20px;
        margin-right: 20px;
    }
    .contact-position {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

/* for screen under 680px */
@media screen and (max-width: 680px) {
    /* info bar */
    #info-bar {
        width: 100%;
        height: 90px;
        font-size: 13px;
    }

    .info-row {
        max-width: 100%;
        text-align: center;
    }
    
    #info-bar, .info-row {
        display: block;
    }
    
    #info-bar, .info-bar-left, .info-bar-right {
        display: block;
        width: 100%;
    }

    #no-dots {
        font-size: 11px;
    }
    
    .info-bar-left {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .info-bar-nav {
        display: inline-block;
        list-style-type: none;
    }

    .column-25, .column-75 {
        width: 100%;
        margin-top: 0;
    }
    
    .column-50 {
        width: 100%;
        margin-top: 0;
    }

    input[type=submit] {
        margin: 20px;
    }
}

/* infobar adjusments for very low pixels */
@media screen and (max-width: 359px) {
    /* info bar */
    #info-bar {
        width: 100%;
        height: 137px;
        font-size: 10px;
    }

    #info-bar, .info-bar-left {
        margin-left: 0;
    }

    .info-bar-nav > ul > li:first-child {
        border-left: 1px solid white;
    }

    .info-bar-nav > ul > li {
        border-bottom: 1px solid white;
    }

    .logo {
        width: 175px;
        height: 175px;
    }

    #footer-jmn {
        margin-left: -155px; 
    }

    ul#menu {
        margin-left: 170px;
    }
}

@media screen and (max-width: 280px) {
    /* info bar */
    #info-bar {
        width: 100%;
        height: 182px;
        font-size: 10px;
    }
}

@media screen and (max-width: 227px) {
    /* info bar */
    #info-bar {
        width: 100%;
        height: 226px;
        font-size: 10px;
    }
}

/* for screens under 893px wide */
@media screen and (max-width: 893px) {
    /* logo and menu */
    #menu {
        width: 100px;
        margin-left: 250px;
        margin-bottom: -220px;
        line-height: 35px;
        font-size: 15px;
    }

    #menu li {
        padding: 0;
        margin-left: 5px;
    }
    
    #menu a:hover {
        color: hsl(130, 100%, 50%);
        padding-top: 20px;
        transition-duration: 0.2s;
        border-style: none;
    }
    
    ul#menu ul {
        top: 0;
        left: 95px;
    }

    .active {
        color: hsl(130, 100%, 50%);
        border-style: none;
        padding-top: 20px;
    }
}

/* for screens under 520px */
@media screen and (max-width: 520px) {
    /* move menu to left side due to smaller screen */
    ul#menu ul {
        top: 0;
        left: -155px;
    }
    /* .logo {
        display: block;
        height: auto;
        max-width: 1000px;
    } */
}

/* for screens under 1010px */
@media screen and (max-width: 1010px) 
{
    /* footer */
    #footer {
        width: 100%;
        font-size: 11px;
        display: flex;
    }

    .footer-row {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
    }

    .footer-column{
        width: 100%;
        margin-top: 40px;
    }

    #footer-menu {
        width: 335px;
    }
    
    #copyright {
        height: 100%;
    }

    .copyright-row {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .copyright-row > span {
        line-height: 40px;
        padding-left: 20px;
    }
}